<table class="table table-striped">
  <thead>
    <tr>
      <th> Fecha de Inscripción </th>
      <th> Fecha de Jura </th>
      <th> Cupo </th>
      <th> Inscriptos </th>
      <th> Estado </th>
      <th colspan="2"> &nbsp; </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "swear", collection: @swears %>
  </tbody>
</table>
