<h2> Inscriptos jura <%=l @swear.swear_date %> </h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th> # </th>
      <th> Título </th>
      <th> Apellido </th>
      <th> Nombre </th>
      <th> Fórmula </th>
      <th> Email </th>
    </tr>
  </thead>
  <tbody>
    <% if @inscriptions.empty? %>
      <tr class="info">
        <td colspan="6" class="text-muted text-center">
          <em>No hay ningún inscripto todavía</em>
        </td>
      </tr>
    <% else %>
       <%= render partial: "/inscriptions/inscription", collection: @inscriptions %>
    <% end %>
  </tbody>
</table>


<div class="row text-right">
  <%= link_to "Guardar planilla", swear_path(format: :xls), class: "btn btn-primary hidden-print" %>

  <%= link_to "Imprimir planilla", "#", onclick: "window.print()", class: "btn btn-default hidden-print" %>
  </div>
</div>