<p> Recordá que los diplomas para estar en condiciones de ser jurados deben estar firmados por las autoridades y legalizados por el Ministerio de Educación</p>

<p> Podés veriricar si tu título está en condiciones de ser jurado consultando <%= link_to "este listado", graduates_path %> </p>
